<div class="header-div">
  <h1 class="title is-1">Edit new location</h1>
</div>
<div>
  <div>
    <mat-form-field>
      <input [(ngModel)]="streetAddress" matInput placeholder="Street adress">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input [(ngModel)]="postalCode" matInput placeholder="Postal code">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input [(ngModel)]="city" matInput placeholder="City">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input [(ngModel)]="stateProvince" matInput placeholder="State province">
    </mat-form-field>
  </div>

  
  <div>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <mat-select [(ngModel)]="selectedCountryId">
        <mat-option *ngFor="let country of countries" [value]="country.countryId">
          {{country.countryName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div>
    <button (click)="submit()" mat-raised-button color="primary">Submit</button>
  </div>
</div>