<div class="header-div">
    <h1 class="title is-1">Products</h1>
</div>
<button (click)="addNewProduct()" mat-icon-button aria-label="add icon">
    <mat-icon>add_box</mat-icon>
</button>
<button  [disabled]="!canEditOrDelete" (click)="editProduct()" mat-icon-button aria-label="edit icon">
    <mat-icon>edit</mat-icon>
</button>
<button  [disabled]="!canEditOrDelete" (click)="deleteProduct()" mat-icon-button aria-label="delete icon">
    <mat-icon>delete</mat-icon>
</button>
<app-products-data-table (selectedRowId)="selectedRowId($event)" [data]="data"></app-products-data-table>